body {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
}

#school-logo {
    display: block;
    width: 650px; /* Set the desired width of the logo */
    height: auto; /* Maintain the aspect ratio of the logo */
    margin: 0 auto; /* Center the logo */
    margin-top: 20px; /* Add some space above the logo */
    margin-bottom: 40px; /* Add some space below the logo */
}

.form-group {
    margin-bottom: 1em;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1em;
}

th, td {
    border: 2px solid #000000;
    padding: 0.5em;
}

th {
    text-align: center;
    background-color: #ff7200;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.total-course-fees {
    font-size: 1.5em;
    font-weight: bold;
    color: #000000;
    border: 4px solid #000000;
    padding: 10px;
    display: inline-block;
    background-color: #ff7200;
    margin-top: 1em;
}

tr:hover {
    background-color: #ddd;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}
